---
import type { HTMLAttributes, SvgComponent } from "astro/types";
import InfoIcon from "#/components/icons/info.svg";
import LightbulbIcon from "#/components/icons/lightbulb.svg";
import MessageSquareWarningIcon from "#/components/icons/message-square-warning.svg";
import OctagonAlertIcon from "#/components/icons/octagon-alert.svg";
import TriangleAlertIcon from "#/components/icons/triangle-alert.svg";

export type AlertType = "note" | "tip" | "important" | "warning" | "caution";

interface Props extends HTMLAttributes<"div"> {
  "data-alert-type": AlertType;
}

const { "data-alert-type": alertType, ...rest } = Astro.props;

const alertIcons: Record<AlertType, SvgComponent> = {
  note: InfoIcon,
  tip: LightbulbIcon,
  important: MessageSquareWarningIcon,
  warning: TriangleAlertIcon,
  caution: OctagonAlertIcon,
};

const IconComponent = alertIcons[alertType];
---

<div class:list={["alert", `alert--${alertType}`]} {...rest}>
  <IconComponent
      class="alert-icon"
      aria-hidden="true"
  />
  <slot />
</div>

<style>
  .alert {
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
    border-radius: var(--radius-md);
    border: 1px solid;
    padding: 1rem;
  }

  @container (width >= 500px) {
    .alert {
      flex-direction: row;
      align-items: center;
      padding-block: 0.75rem;
    }
  }

  .alert :global(p) {
    margin: 0;
    font-size: var(--fs-sm);
    line-height: 1.5;
  }

  .alert :global(p > a) {
    text-decoration: underline;
    color: currentColor;
    line-height: 1.5;
  }

  .alert-icon {
    width: 1rem;
    height: 1rem;
    opacity: 0.7;
    flex-shrink: 0;
  }

  .alert--note {
    border-color: oklch(from light-dark(var(--uchu-blue-5), var(--uchu-blue-4)) l c h / 50%);
    color: light-dark(var(--uchu-blue-6), var(--uchu-blue-4));
  }

  .alert--tip {
    border-color: oklch(from var(--uchu-green-5) l c h / 50%);
    color: light-dark(var(--uchu-green-6), var(--uchu-green-5));
  }

  .alert--important {
    border-color: oklch(from light-dark(var(--uchu-purple-5), var(--uchu-purple-4)) l c h / 50%);
    color: light-dark(var(--uchu-purple-6), var(--uchu-purple-4));
  }

  .alert--warning {
    border-color: oklch(from var(--uchu-orange-5) l c h / 50%);
    color: light-dark(var(--uchu-orange-6), var(--uchu-orange-5));
  }

  .alert--caution {
    border-color: oklch(from light-dark(var(--uchu-red-5), var(--uchu-red-4)) l c h / 50%);
    color: light-dark(var(--uchu-red-6), var(--uchu-red-4));
  }
</style>
