[submodule "me-content"]
	path = apps/me/me-content
	url = https://github.com/kkhys/me-content.git
[submodule "memo-content"]
	path = apps/memo/memo-content
	url = https://github.com/kkhys/memo-content
