[submodule "me-content"]
	path = apps/me/me-content
	url = https://github.com/kkhys/me-content.git
[submodule "memo-content"]
	path = apps/memo/memo-content
	url = https://github.com/kkhys/memo-content
[submodule "lgtm-content"]
	path = apps/lgtm/lgtm-content
	url = https://github.com/kkhys/lgtm-content.git
[submodule "diary-content"]
	path = apps/diary/diary-content
	url = https://github.com/kkhys/diary-content.git
