[submodule "content/blog/fashion"]
	path = content/blog/fashion
	url = https://github.com/ktnkk/blog.fashion
	branch = main
[submodule "content/blog/life"]
	path = content/blog/life
	url = https://github.com/ktnkk/blog.life
	branch = main
[submodule "content/blog/onsen"]
	path = content/blog/onsen
	url = https://github.com/ktnkk/blog.onsen
	branch = main
[submodule "content/blog/tech"]
	path = content/blog/tech
	url = https://github.com/ktnkk/blog.tech
	branch = main
