@layer reset, tokens, base;

@import "kiso.css" layer(reset);
@import "@kkhys/styles/uchu.css" layer(tokens);
@import "@kkhys/styles/tokens.css" layer(tokens);
@import "@kkhys/styles/base.css" layer(base);

/* ===== Design Tokens ===== */

@layer tokens {
  :root {
    color-scheme: light dark;

    --c-bg-gray: light-dark(var(--uchu-gray-2), var(--uchu-yin-8));
    --c-text-emphasis: light-dark(var(--uchu-yin-7), var(--uchu-yin-4));
  }
}

/* ===== Base Styles ===== */

@layer base {
  html {
    font-size: 16px;
    line-height: var(--lh-base);
  }

  body {
    margin-inline: auto;
    min-height: 100vh;
    max-width: var(--content-width);
    display: grid;
    grid-template-rows: [top] auto [main-start] 1fr [main-end] auto [bottom];
    grid-template-columns: minmax(0, 1fr);
  }
}
