---
import type { PaginateFunction } from "astro";
import SEO from "#/components/seo.astro";
import { countPerPage } from "#/config/constant";
import CategoryNavigation from "#/features/blog/components/ui/category-navigation.astro";
import EntryList from "#/features/blog/components/ui/entry-list.astro";
import Pagination from "#/features/blog/components/ui/pagination.astro";
import { getPublicBlogEntries } from "#/features/blog/utils/entry";
import BaseLayout from "#/layouts/base-layout.astro";

export const getStaticPaths = async ({
  paginate,
}: {
  paginate: PaginateFunction;
}) => {
  const blogEntries = await getPublicBlogEntries();
  return paginate(blogEntries, { pageSize: countPerPage });
};

const { page } = Astro.props;
---

<BaseLayout class="space-y-6">
    <SEO
            title='ブログ'
            description='Keisuke Hayashi のブログ'
            slot='seo'
    />
    <section>
        <h1 class="font-medium">ブログ</h1>
        <CategoryNavigation class="mt-8" />
    </section>
    <section>
        <EntryList blogEntries={page.data} showDate />
    </section>
    <Pagination page={page} baseUrl="/blog" />
</BaseLayout>
