---
import ArrowLeftIcon from "@lucide/astro/icons/arrow-left";
import type { PaginateFunction } from "astro";
import SEO from "#/components/seo.astro";
import { countPerPage } from "#/config/constant";
import CategoryNavigation from "#/features/blog/components/ui/category-navigation.astro";
import EntryList from "#/features/blog/components/ui/entry-list.astro";
import Pagination from "#/features/blog/components/ui/pagination.astro";
import { getPublicBlogEntries } from "#/features/blog/utils/entry";
import BaseLayout from "#/layouts/base-layout.astro";

export const getStaticPaths = async ({
  paginate,
}: {
  paginate: PaginateFunction;
}) => {
  const blogEntries = await getPublicBlogEntries();
  return paginate(blogEntries, { pageSize: countPerPage });
};

const { page } = Astro.props;
---

<BaseLayout class="space-y-6">
    <SEO
            title='ブログ'
            description='Keisuke Hayashi のブログ'
            slot='seo'
    />
    <div class="mb-4 xl:fixed xl:top-0 xl:translate-y-[138px] xl:-translate-x-[260px]">
        <a href="/" class="inline-flex gap-1 items-center text-muted-foreground text-xs hover:underline">
            <ArrowLeftIcon class="size-3.5" />
            ホーム
        </a>
    </div>
    <section>
        <h1 class="font-medium">ブログ</h1>
        <CategoryNavigation class="mt-8" />
    </section>
    <section>
        <EntryList blogEntries={page.data} showDate />
    </section>
    <Pagination page={page} baseUrl="/blog" />
</BaseLayout>
