---
import { getCollection } from "astro:content";
import type { PaginateFunction } from "astro";
import SEO from "#/components/seo.astro";
import { countPerPage } from "#/config/constant";
import BaseLayout from "#/layouts/base-layout.astro";
import { getCustomTransition } from "#/lib/custom-transition";
import EntryList from "#/pages/blog/_components/entry-list.astro";
import Pagination from "#/pages/blog/_components/pagination.astro";

export const getStaticPaths = async ({
  paginate,
}: {
  paginate: PaginateFunction;
}) => {
  const blogEntries = (await getCollection("blog"))
    .sort((a, b) => a.data.publishedAt.getTime() - b.data.publishedAt.getTime())
    .reverse();
  return paginate(blogEntries, { pageSize: countPerPage });
};

const { page } = Astro.props;
---

<BaseLayout class="space-y-6">
    <SEO
            title='Blog'
            description='Keisuke Hayashi のブログ'
            slot='seo'
    />
    <section transition:animate={getCustomTransition()}>
        <h1 class="font-medium">ブログ</h1>
    </section>
    <section transition:animate={getCustomTransition(0.15)}>
        <EntryList blogEntries={page.data} showDate />
    </section>
    <Pagination page={page} baseUrl="/blog" />
</BaseLayout>
