---
import { actions } from "astro:actions";

interface Props {
  slug: string;
}

const { slug } = Astro.props;

const [pageViewData] = await Promise.all([
  Astro.callAction(actions.pageView.getPageViews, { slug }),
  Astro.callAction(actions.pageView.incrementViews, { slug }),
]);

const views = pageViewData.data ?? 0;
---

<div class="text-sm text-muted-foreground">
    {views.toLocaleString()} views
</div>
