---
import InfoIcon from "@lucide/astro/icons/info";
import LightbulbIcon from "@lucide/astro/icons/lightbulb";
import MessageSquareWarningIcon from "@lucide/astro/icons/message-square-warning";
import OctagonAlertIcon from "@lucide/astro/icons/octagon-alert";
import TriangleAlertIcon from "@lucide/astro/icons/triangle-alert";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import type { HTMLAttributes } from "astro/types";
import { cn } from "#/lib/ui";

export type AlertType = "note" | "tip" | "important" | "warning" | "caution";

interface Props extends HTMLAttributes<"div"> {
  "data-alert-type": AlertType;
}

const { "data-alert-type": alertType, ...rest } = Astro.props;

const alertIcons: Record<AlertType, AstroComponentFactory> = {
  note: InfoIcon,
  tip: LightbulbIcon,
  important: MessageSquareWarningIcon,
  warning: TriangleAlertIcon,
  caution: OctagonAlertIcon,
};

const alertStyles: Record<AlertType, string> = {
  note: "border-blue-500/50 text-blue-600 dark:border-blue-400/50 dark:text-blue-400",
  tip: "border-emerald-500/50 text-emerald-600 dark:border-emerald-400/50 dark:text-emerald-500",
  important:
    "border-purple-500/50 text-purple-600 dark:border-purple-400/50 dark:text-purple-400",
  warning:
    "border-amber-500/50 text-amber-600 dark:border-amber-400/50 dark:text-amber-500",
  caution:
    "border-red-500/50 text-red-600 dark:border-red-400/50 dark:text-red-400",
};

const IconComponent = alertIcons[alertType];
const styleClasses = alertStyles[alertType];
---

<div class={cn("flex flex-col md:flex-row gap-1.5 items-start md:items-center rounded-md border px-4 py-4 md:py-3 [&>p]:m-0! [&>p]:text-sm [&>p]:leading-6", styleClasses)} {...rest}>
    <IconComponent
            class="size-4 opacity-70"
            aria-hidden="true"
    />
    <slot />
</div>
