---
import type { HTMLAttributes } from "astro/types";
import CheckIcon from "#/components/icons/check.svg";

interface Props extends HTMLAttributes<"input"> {}

const { type, checked, ...rest } = Astro.props;
---

{type === "checkbox" && (
  <button role="checkbox" aria-checked={checked ? 'true' : 'false'} class="checkbox" {...rest}>
    <span class="checkbox-inner">
      {checked && (
        <CheckIcon class="checkbox-icon" />
      )}
    </span>
  </button>
)}

<style>
  .checkbox {
    width: 1rem;
    height: 1rem;
    border-radius: var(--radius-xs);
    border: 1px solid var(--c-primary);
    box-shadow: var(--shadow-sm);
  }

  .checkbox:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .checkbox[aria-checked="true"] {
    background-color: var(--c-primary);
    color: var(--c-primary-text);
  }

  .checkbox-inner {
    display: grid;
    place-content: center;
  }

  .checkbox-icon {
    width: 1rem;
    height: 1rem;
  }
</style>
