---
import { Image } from "astro:assets";
import type { HTMLAttributes } from "astro/types";
import GlobeIcon from "#/components/icons/globe.svg";
import { getMetadata } from "#/lib/api/metadata";

interface Props extends HTMLAttributes<"a"> {
  href: string;
}

const props = Astro.props;

const { title, description, image } = await getMetadata(props.href);
---

<div class="link-card">
  <a
      target="_blank"
      rel="noreferrer"
      class="link-card-inner"
      {...props}
  >
    <div class="link-card-content">
      <span class="link-card-title">
      <span class="link-card-title-text">{title}</span>
      </span>
      <span class="link-card-description">
      {description}
      </span>
      <div class="link-card-domain">
        <GlobeIcon class="link-card-globe" />
        <span class="link-card-hostname">
        {new URL(props.href).hostname}
      </span>
      </div>
    </div>
    <div class="link-card-image">
      {image && (
          <Image
              src={image.src}
              alt={`${title}のカバー画像`}
              width={460}
              height={240}
              format="avif"
              class="link-card-img"
          />
      )}
    </div>
  </a>
</div>

<style>
  .link-card {
    user-select: none;
    overflow: hidden;
    border-radius: var(--radius-md);
    border: 1px solid var(--c-border);
  }

  .link-card-inner {
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    color: inherit;
    text-decoration: none;
    box-shadow: var(--shadow-sm);
    transition: background-color 0.2s;
  }

  .link-card-inner:hover {
    background-color: oklch(from var(--c-surface) l c h / 50%);
  }

  .link-card-content {
    min-width: 0;
    flex: 1;
    padding: 0.5rem 1rem;
  }

  .link-card-title {
    display: block;
    max-height: 3rem;
    overflow-wrap: break-word;
    font-weight: var(--fw-medium);
    line-height: 1.625;
  }

  .link-card-title-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .link-card-description {
    display: block;
    margin-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: break-word;
    font-size: var(--fs-xs);
    color: var(--c-sub);
  }

  .link-card-domain {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }

  .link-card-globe {
    width: 0.75rem;
    height: 0.75rem;
    flex-shrink: 0;
    margin-top: 1.5px;
  }

  .link-card-hostname {
    margin-left: 0.25rem;
    font-size: var(--fs-xs);
  }

  .link-card-image {
    width: 120px;
    height: 120px;
    max-width: 230px;
  }

  @media (width >= 640px) {
    .link-card-image {
      width: auto;
    }
  }

  .link-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
