---
import { type CollectionEntry, render } from "astro:content";

interface Props {
  legal: CollectionEntry<"legal">;
}

const { legal } = Astro.props;
const { Content } = await render(legal);
const { title } = legal.data;
---

<section class="animate prose">
    <header>
        <h1 class="animate mt-4 font-medium">{title}</h1>
    </header>
    <div class="animate">
        <Content />
    </div>
</section>
