---
import Skeleton from "#/components/ui/skeleton.astro";
---
<div class="flex flex-col justify-between p-1.5">
    <Skeleton class="w-[240px] h-5" />
    <div class="flex justify-end">
        <Skeleton class="w-[265px] h-[139px]" />
    </div>
</div>
