@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tokens */
:root {
  --color-primary: 24 24 27; /* #18181B */
  --color-contrast: 255 255 255; /* #FFFFFF */
  /*--font-size-fine: 0.75rem; !* text-xs *!*/
  /*--font-size-copy: 1rem; !* text-base *!*/
  /*--font-size-lead: 1.125rem; !* text-lg *!*/
  /*--font-size-heading: 1.5rem; !* text-2xl *!*/
  /*--font-size-display: 2.5rem; !* text-4xl *!*/
  --height-nav: 3rem;
  --screen-height: 100vh;

  /* md */
  @media (min-width: 768px) {
    --height-nav: 3.5rem;
  }

  /* lg */
  @media (min-width: 1024px) {
    --height-nav: 4rem;
    --font-size-heading: 2rem; /* text-3xl */
    --font-size-display: 3rem; /* text-5xl */
  }

  @supports (height: 100lvh) {
    --screen-height: 100lvh;
  }
}

html.dark {
  --color-primary: 250 250 250; /* #FAFAFA */
  --color-contrast: 24 24 27; /* #18181B */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@layer base {
  * {
    font-variant-ligatures: none;
  }

  body {
    @apply antialiased text-primary/90 border-primary/10 bg-contrast;
  }

  html {
    scroll-padding-top: 10rem;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer utilities {
  .fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 500ms forwards;
  }

  /*.hiddenScroll {*/
  /*  scrollbar-width: none;*/
  /*  &::-webkit-scrollbar {*/
  /*    display: none;*/
  /*  }*/
  /*}*/

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  /*.card-image {*/
  /*  @apply relative rounded overflow-clip flex justify-center items-center;*/
  /*  &::before {*/
  /*    content: ' ';*/
  /*    @apply z-10 absolute block top-0 left-0 w-full h-full shadow-border rounded;*/
  /*  }*/
  /*  img {*/
  /*    @apply object-cover w-full aspect-[inherit];*/
  /*  }*/
  /*}*/
}
