@import "tailwindcss";
@import "tw-animate-css";
@import "./uchu.css";

@custom-variant dark {
  @media (prefers-color-scheme: dark) {
    @slot;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-link: var(--link);
  --color-link-visited: var(--link-visited);

  --color-strong: var(--strong);

  --color-code: var(--code);
  --color-code-foreground: var(--code-foreground);
  --color-code-border: var(--code-border);

  --color-quote-borders: var(--quote-borders);

  --color-th-borders: var(--th-borders);
  --color-td-borders: var(--td-borders);

  --color-code-block-background: var(--code-block-background);
  --color-code-block-header-background: var(--code-block-header-background);
  --color-code-block-header-foreground: var(--code-block-header-foreground);
  --color-code-block-border: var(--code-block-border);
  --color-code-block-gutter: var(--code-block-gutter);

  --color-hr-from: var(--hr-from);
  --color-hr-via: var(--hr-via);
  --color-hr-to: var(--hr-to);

  --color-toc: var(--foreground);
  --color-toc-bar: var(--toc-bar);
  --color-toc-bar-active: var(--toc-bar-active);

  --color-scrollbar: var(--scrollbar);
  --color-scrollbar-foreground: var(--scrollbar-foreground);

  --color-selection: var(--selection);
}

:root {
  --radius: 0.625rem;

  --background: var(--uchu-yang);
  --foreground: var(--uchu-yin);

  --popover: var(--uchu-yang);
  --popover-foreground: var(--uchu-yin);

  --primary: var(--uchu-yin-9);
  --primary-foreground: var(--uchu-yang);

  --secondary: var(--uchu-gray-1);
  --secondary-foreground: var(--uchu-yin-9);

  --muted: var(--uchu-gray-1);
  --muted-foreground: var(--uchu-yin-6);

  --accent: var(--uchu-gray-1);
  --accent-foreground: var(--uchu-yin-9);

  --destructive: var(--uchu-red-5);

  --border: var(--uchu-gray-2);
  --input: var(--uchu-gray-2);
  --ring: var(--uchu-yin-4);

  --link: var(--uchu-blue-5);
  --link-visited: var(--uchu-purple-5);

  --strong: var(--uchu-yellow-1);

  --code: oklch(var(--uchu-gray-3-raw) / 0.2);
  --code-foreground: var(--uchu-yin-8);
  --code-border: oklch(var(--uchu-gray-9-raw) / 0.2);

  --quote-borders: var(--uchu-gray-2);

  --th-borders: var(--uchu-gray-2);
  --td-borders: var(--uchu-gray-1);

  --code-block-background: var(--uchu-yang);
  --code-block-header-background: var(--uchu-yang);
  --code-block-header-foreground: var(--uchu-yin-6);
  --code-block-border: oklch(var(--uchu-gray-3-raw) / 0.3);
  --code-block-gutter: var(--uchu-gray-6);

  --hr-from: var(--uchu-gray-1);
  --hr-via: var(--uchu-gray-1);
  --hr-to: var(--uchu-gray-1);

  --toc-bar: var(--uchu-gray-2);
  --toc-bar-active: var(--uchu-gray-3);

  --github-heatmap-level-1: var(--uchu-gray-1);
  --github-heatmap-level-2: var(--uchu-green-2);
  --github-heatmap-level-3: var(--uchu-green-5);
  --github-heatmap-level-4: var(--uchu-green-9);

  --scrollbar: var(--uchu-gray-3);
  --scrollbar-foreground: var(--uchu-gray-7);

  --selection: var(--uchu-yellow-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--uchu-yin);
    --foreground: var(--uchu-gray-1);

    --popover: var(--uchu-yin-9);
    --popover-foreground: var(--uchu-yang);

    --primary: var(--uchu-gray-2);
    --primary-foreground: var(--uchu-yin-9);

    --secondary: var(--uchu-yin-9);
    --secondary-foreground: var(--uchu-yang);

    --muted: var(--uchu-yin-9);
    --muted-foreground: var(--uchu-yin-4);

    --accent: var(--uchu-yin-8);
    --accent-foreground: var(--uchu-yang);

    --destructive: var(--uchu-red-3);

    --border: oklch(var(--uchu-yang-raw) / 10%);
    --input: oklch(var(--uchu-yang-raw) / 15%);
    --ring: var(--uchu-yin-6);

    --link: var(--uchu-blue-3);
    --link-visited: var(--uchu-purple-3);

    --strong: var(--uchu-orange-9);

    --code: oklch(var(--uchu-gray-2-raw) / 0.05);
    --code-foreground: var(--uchu-gray-3);
    --code-border: oklch(var(--uchu-yin-4-raw) / 0.3);

    --quote-borders: var(--uchu-gray-9);

    --th-borders: var(--uchu-yin-8);
    --td-borders: var(--uchu-yin-9);

    --code-block-background: var(--uchu-yin);
    --code-block-header-background: var(--uchu-yin-9);
    --code-block-header-foreground: var(--uchu-gray-3);
    --code-block-border: oklch(var(--uchu-yang-raw) / 0.1);
    --code-block-gutter: var(--uchu-gray-9);

    --hr-from: var(--uchu-yin-9);
    --hr-via: var(--uchu-yin-9);
    --hr-to: var(--uchu-yin-9);

    --toc-bar: var(--uchu-yin-8);
    --toc-bar-active: var(--uchu-yin-9);

    --github-heatmap-level-1: var(--uchu-yin-9);
    --github-heatmap-level-2: var(--uchu-yin-8);
    --github-heatmap-level-3: var(--uchu-green-8);
    --github-heatmap-level-4: var(--uchu-green-3);

    --scrollbar: var(--uchu-yin-8);
    --scrollbar-foreground: var(--uchu-yin-7);

    --selection: var(--uchu-yellow-9);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    scrollbar-gutter: stable both-edges;
  }

  .budoux {
    word-break: keep-all;
    overflow-wrap: anywhere;
  }

  ::selection {
    @apply shadow-none bg-selection text-foreground;
  }

  ::-webkit-scrollbar {
    @apply size-4;
  }

  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner {
    @apply hidden;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-clip-padding border-[5px] border-transparent border-solid bg-scrollbar rounded-full hover:bg-scrollbar-foreground;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  li {
    @apply my-2 pl-2.5;
  }

  [data-footnotes]::before {
    @apply content-[""] block h-[1px] w-full bg-gradient-to-r from-hr-from via-hr-via to-hr-to;
  }

  [data-footnotes] > ol {
    @apply mt-6;
  }

  [data-footnotes] > ol > li {
    @apply scroll-mt-12;
  }

  [data-footnote-ref] {
    @apply ml-0.5 scroll-mt-12 font-mono;
  }

  [data-footnote-backref] {
    @apply text-xl font-mono ml-1;
  }

  .expressive-code pre {
    @apply max-h-[650px]!;
  }

  .expressive-code .copy button {
    @apply rounded-md!;
  }

  .expressive-code .copy button::after {
    mask-size: 0.8rem;
    margin: 0.6rem !important;
  }
}

@layer components {
  .prose {
    p,
    ul,
    ol,
    li,
    blockquote,
    table {
      @apply leading-8;
    }

    :where(.prose > *):not(
        :where([class~="not-prose"], [class~="not-prose"] *)
      ) {
      @apply my-10;
    }

    p {
      @apply my-8;
    }

    h1,
    h2,
    h3 {
      @apply font-semibold leading-7 transition-colors duration-1000;
    }

    h1 {
      @apply mt-0;
    }

    h2 {
      @apply mt-16 mb-6 border-b py-2.5;
    }

    h3 {
      @apply mt-12 mb-6;
    }

    :is(h2, h3) + * {
      @apply mt-0;
    }

    p > a,
    td > a,
    li > a {
      @apply text-link font-medium decoration-1 underline-offset-4 hover:underline transition visited:text-link-visited visited:[&>svg]:stroke-inherit;
    }

    strong {
      @apply font-normal;
      background: linear-gradient(transparent 60%, var(--color-strong) 0);
    }

    code {
      @apply inline-block font-mono text-sm text-code-foreground bg-code rounded-sm leading-6 px-1.5 mx-0.5 inset-shadow-[0_0_0_0.75px] inset-shadow-code-border;
    }

    blockquote {
      @apply border-l-2 border-quote-borders pl-6 italic;
    }

    ul {
      @apply list-["-"] pl-2;
    }

    ol {
      @apply list-decimal pl-4;
    }

    li::marker {
      @apply text-sm font-medium;
    }

    li :is(ol, ul) {
      @apply my-1 pl-2;
    }

    li :is(li, p) {
      @apply my-1;
    }

    ol > li::marker {
      @apply text-foreground;
    }

    ul > li::marker,
    ol > li::marker {
      @apply text-muted-foreground;
    }

    .contains-task-list {
      @apply list-none pl-0;
    }

    .contains-task-list > li {
      @apply flex items-center gap-2 pl-0;
    }

    hr {
      @apply my-20 h-[1px] w-full bg-gradient-to-r from-hr-from via-hr-via to-hr-to;
      border: none;
    }

    table {
      @apply w-full table-auto text-left text-sm;
    }

    thead {
      @apply border-b border-th-borders;
    }

    thead th {
      @apply font-medium align-bottom pb-2;
    }

    thead th:not(:first-child) {
      @apply pl-2;
    }

    thead th:not(:last-child) {
      @apply pr-2;
    }

    tbody tr {
      @apply border-b border-td-borders;
    }

    tbody tr:last-child {
      @apply border-b-0;
    }

    tbody td {
      @apply align-baseline;
    }

    tfoot {
      @apply border-t border-th-borders;
    }

    tfoot td {
      @apply align-top;
    }

    :is(tbody, tfoot) td {
      @apply py-2;
    }

    :is(tbody, tfoot) td:not(:first-child) {
      @apply pl-2;
    }

    :is(tbody, tfoot) td:not(:last-child) {
      @apply pr-2;
    }
  }
}

@utility palt {
  font-feature-settings: "palt";
}

@utility container {
  @apply px-4 sm:px-0;
}

@keyframes sound-bar {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 26px;
  }
}
