pre[class*='language-'] {
  @apply text-zinc-100;
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  @apply text-pink-400;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  @apply text-zinc-300;
}

.token.module {
  @apply text-pink-400;
}

.token.attr-value,
.token.class,
.token.string,
.token.property {
  @apply text-teal-300;
}

.token.punctuation,
.token.attr-equals {
  @apply text-zinc-500;
}

.token.unit,
.language-css .token.function {
  @apply text-sky-200;
}

.token.comment,
.token.operator,
.token.combinator {
  @apply text-zinc-400;
}

/* command line prompt */
.command-line-prompt {
  @apply !border-r-0;
}

.command-line-prompt > span {
  @apply before:!pr-0 before:text-zinc-400 before:!opacity-100;
}

/* FIXME: tailwind の記法で書く */
.command-line-prompt > span:before {
  content: ' ' !important;
}

.command-line-prompt > span[data-user] {
  @apply before:!content-['$'];
}

.command-line-prompt > span[data-user='root'] {
  @apply before:!content-['#'];
}

.command-line-prompt > span[data-prompt] {
  @apply before:!content-[attr(data-prompt)];
}

/* FIXME: SP 表示だと右端までラインが届いていない */
.gatsby-highlight-code-line {
  background-color: #3a362b;
  display: table;
  min-width: calc(100% + 2rem * 2);
  margin-right: -2rem;
  margin-left: -2rem;
  padding-left: 12px;
  border-left: 3px solid #6c5322;
}

/* gatsby-remark-code-titles */
.gatsby-code-title {
  @apply relative table h-2 mt-0 mr-[30px] mb-[-26px] ml-auto px-2 font-mono text-xs leading-6 text-zinc-100 bg-zinc-900 rounded-b border-x border-b border-zinc-200/10;
}

.gatsby-code-title + .gatsby-highlight {
  @apply mt-0;
}
