.prose p,
.prose ul,
.prose ol,
.prose li,
.prose blockquote,
.prose table {
  line-height: 2;
}

.prose > *:not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-block: 2.5rem;
}

.prose p {
  margin-block: 2rem;
}

.prose h1,
.prose h2,
.prose h3 {
  font-size: 1rem;
  font-weight: var(--fw-semibold);
  line-height: 1.75;
  transition: color 1s;
}

.prose h1 {
  margin-top: 0;
}

.prose h2 {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--c-border);
  padding-block: 0.625rem;
}

.prose h3 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.prose :is(h2, h3) + * {
  margin-top: 0;
}

.prose p > a,
.prose td > a,
.prose li > a {
  color: var(--c-link);
  font-weight: var(--fw-medium);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  transition: text-decoration 0.2s;
}

.prose p > a:hover,
.prose td > a:hover,
.prose li > a:hover {
  text-decoration: underline;
}

.prose p > a:visited,
.prose td > a:visited,
.prose li > a:visited {
  color: var(--c-link-visited);
}

.prose p > a:visited svg,
.prose td > a:visited svg,
.prose li > a:visited svg {
  stroke: inherit;
}

.prose strong {
  font-weight: var(--fw-normal);
  background: linear-gradient(transparent 60%, var(--c-strong) 0);
}

.prose code {
  display: inline-block;
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: var(--fs-sm);
  color: var(--c-code-text);
  background-color: var(--c-code-bg);
  border-radius: 0.125rem;
  line-height: 1.5;
  padding-inline: 0.375rem;
  margin-inline: 0.125rem;
  box-shadow: inset 0 0 0 0.75px var(--c-code-border);
}

.prose blockquote {
  border-left: 2px solid var(--uchu-gray-2);
  padding-left: 1.5rem;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  .prose blockquote {
    border-left-color: var(--uchu-gray-9);
  }
}

.prose ul {
  list-style-type: "-";
  padding-left: 0.5rem;
}

.prose ol {
  list-style-type: decimal;
  padding-left: 1rem;
}

.prose li::marker {
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
}

.prose li :is(ol, ul) {
  margin-block: 0.25rem;
  padding-left: 0.5rem;
}

.prose li :is(li, p) {
  margin-block: 0.25rem;
}

.prose ol > li::marker {
  color: var(--c-text);
}

.prose ul > li::marker,
.prose ol > li::marker {
  color: var(--c-sub);
}

.prose .contains-task-list {
  list-style: none;
  padding-left: 0;
}

.prose .contains-task-list > li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0;
}

.prose hr {
  margin-block: 5rem;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, var(--c-hr), var(--c-hr), var(--c-hr));
  border: none;
}

.prose table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  font-size: var(--fs-sm);
}

.prose thead {
  border-bottom: 1px solid var(--uchu-gray-2);
}

.prose thead th {
  font-weight: var(--fw-medium);
  vertical-align: bottom;
  padding-bottom: 0.5rem;
}

.prose thead th:not(:first-child) {
  padding-left: 0.5rem;
}

.prose thead th:not(:last-child) {
  padding-right: 0.5rem;
}

.prose tbody tr {
  border-bottom: 1px solid var(--uchu-gray-1);
}

.prose tbody tr:last-child {
  border-bottom: 0;
}

.prose tbody td {
  vertical-align: baseline;
}

.prose tfoot {
  border-top: 1px solid var(--uchu-gray-2);
}

.prose tfoot td {
  vertical-align: top;
}

.prose :is(tbody, tfoot) td {
  padding-block: 0.5rem;
}

.prose :is(tbody, tfoot) td:not(:first-child) {
  padding-left: 0.5rem;
}

.prose :is(tbody, tfoot) td:not(:last-child) {
  padding-right: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .prose thead {
    border-bottom-color: var(--uchu-yin-8);
  }

  .prose tbody tr {
    border-bottom-color: var(--uchu-yin-9);
  }

  .prose tfoot {
    border-top-color: var(--uchu-yin-8);
  }
}
