/* @see https://github.com/NeverCease/uchu/blob/primary/definitions/style/color_expanded.css */

:root {
  /*** gray ***/
  --uchu-gray-1: oklch(95.57% 0.003 286.35);
  --uchu-gray-2-raw: 92.04% 0.002 197.12;
  --uchu-gray-2: oklch(var(--uchu-gray-2-raw));
  --uchu-gray-3-raw: 88.28% 0.003 286.34;
  --uchu-gray-3: oklch(var(--uchu-gray-3-raw));
  --uchu-gray-4: oklch(84.68% 0.002 197.12);
  --uchu-gray-5: oklch(80.73% 0.002 247.84);
  --uchu-gray-6: oklch(75.03% 0.002 247.85);
  --uchu-gray-7: oklch(69.01% 0.003 286.32);
  --uchu-gray-9-raw: 56.82% 0.004 247.89;
  --uchu-gray-9: oklch(var(--uchu-gray-9-raw));

  /*** red ***/
  --uchu-red-4: oklch(62.73% 0.209 12.37);
  --uchu-red-5: oklch(58.63% 0.231 19.6);
  --uchu-red-6: oklch(54.41% 0.214 19.06);

  /*** purple ***/
  --uchu-purple-3: oklch(68.5% 0.136 303.78);
  --uchu-purple-4: oklch(58.47% 0.181 302.06);
  --uchu-purple-5: oklch(49.39% 0.215 298.31);
  --uchu-purple-6: oklch(46.11% 0.198 298.4);

  /*** blue ***/
  --uchu-blue-3: oklch(70.94% 0.136 258.06);
  --uchu-blue-4: oklch(62.39% 0.181 258.33);
  --uchu-blue-5: oklch(54.87% 0.222 260.33);
  --uchu-blue-6: oklch(51.15% 0.204 260.17);

  /*** green ***/
  --uchu-green-5: oklch(75.23% 0.209 144.64);
  --uchu-green-6: oklch(70.03% 0.194 144.71);

  /*** yellow ***/
  --uchu-yellow-1: oklch(97.05% 0.039 91.2);
  --uchu-yellow-2: oklch(95% 0.07 92.39);
  --uchu-yellow-9: oklch(62.29% 0.097 91.9);

  /*** orange ***/
  --uchu-orange-5: oklch(74.61% 0.171 51.56);
  --uchu-orange-6: oklch(69.33% 0.157 52.18);
  --uchu-orange-9: oklch(52.49% 0.113 51.98);

  /*** general ***/
  --uchu-yin-4-raw: 69.17% 0.004 247.88;
  --uchu-yin-4: oklch(var(--uchu-yin-4-raw));
  --uchu-yin-6: oklch(52.79% 0.005 271.32);
  --uchu-yin-7: oklch(43.87% 0.005 271.3);
  --uchu-yin-8: oklch(35.02% 0.005 236.66);
  --uchu-yin-9: oklch(25.11% 0.006 258.36);
  --uchu-yin-raw: 14.38% 0.007 256.88;
  --uchu-yin: oklch(var(--uchu-yin-raw));
  --uchu-yang-raw: 99.4% 0 0;
  --uchu-yang: oklch(var(--uchu-yang-raw));
}
