---
import MoveUpRightIcon from "@lucide/astro/icons/move-up-right";
import type { HTMLAttributes } from "astro/types";
import LinkCard from "#/pages/blog/_components/link-card.astro";

interface Props extends HTMLAttributes<"a"> {
  href: string;
  "data-link-card"?: string;
}

const { href, ...rest } = Astro.props;
---

{
    Object.hasOwn(rest, "data-link-card") ? (
        <LinkCard href={href} {...rest} />
    ) : (
        href.startsWith('http') ? (
            <a href={href} target="_blank" rel="noreferrer" class="inline-flex items-center" {...rest}>
                <slot />
                <MoveUpRightIcon class="ml-1 mt-0.5 size-3" />
            </a>
        ) : (
            <a href={href} {...rest}>
                <slot />
            </a>
        )
    )
}
