---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"button"> {
  variant?: "default" | "outline" | "ghost";
  size?: "default" | "icon";
}

const {
  class: className,
  variant = "default",
  size = "default",
  ...rest
} = Astro.props;
---

<button
  class:list={[
    "btn",
    variant !== "default" && `btn--${variant}`,
    size !== "default" && `btn--size-${size}`,
    className,
  ]}
  {...rest}
>
  <slot />
</button>
