<header>
    <a href="/" class="header-title">LGTM</a>
</header>

<style>
    header {
        display: grid;
        grid-row: top / main-start;
        justify-items: center;
        width: 100%;
        padding-block: 1rem;
    }

    .header-title {
        font-size: var(--fs-xs);
        font-weight: var(--fw-semibold);
        text-decoration: none;
        color: inherit;
    }

    .header-title:hover {
        opacity: 0.7;
    }
</style>
