@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --background-lighter: 0 0% 100%;
    --foreground: 240 5%, 4%;

    --card: 0 0% 100%;
    --card-foreground: 240 5% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 5% 4%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --scrollbar: 240 5% 84%;
    --scrollbar-foreground: 240 5% 65%;

    --selection: 240 6% 90%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 90%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 5% 4%;
    --background-lighter: 240 6% 7%;
    --foreground: 0 0% 90%;

    --card: 240 5% 4%;
    --card-foreground: 0 0% 90%;

    --popover: 240 5% 4%;
    --popover-foreground: 0 0% 90%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 90%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 90%;

    --scrollbar: 240 5% 26%;
    --scrollbar-foreground: 240 5% 34%;

    --selection: 240 4% 16%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 3.7% 15.9%;
  }
}
