@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 5%, 4%;

    --card: 0 0% 100%;
    --card-foreground: 240 5% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 5% 4%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 353 100% 42%;
    --destructive-foreground: 0 0% 98%;

    --scrollbar: 240 5% 84%;
    --scrollbar-foreground: 240 5% 65%;

    --selection: 56 100% 83%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 90%;

    --radius: 0.5rem;

    --javascript: 89.61% 0.1527 102.08;
    --typescript: 56.71% 0.1399 253.3;
    --html: 62.21% 0.1938 34.85;
    --css: 44.03% 0.1603 303.37;
    --python: 53.54% 0.1022 246.5;
    --java: 60.4% 0.1232 69.41;
    --mdx: 81.58% 0.1597 76.85;
    --sql: 71.46% 0.1579 67.02;
    --rust: 76.75% 0.0814 51.2;
    --scala: 53.86% 0.1841 19.52;
    --ruby: 35.82% 0.125 25.77;
    --shell: 82.29% 0.1959 135.27;

    --chart-editors: 67.72% 0.1571 35.19;
    --chart-operating-systems: 63.09% 0.1013 183.49;
    --chart-categories: 37.87% 0.044 225.54;
  }

  .dark {
    --background: 240 5% 4%;
    --foreground: 0 0% 90%;

    --card: 240 5% 4%;
    --card-foreground: 0 0% 90%;

    --popover: 240 5% 4%;
    --popover-foreground: 0 0% 90%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 90%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 90%;

    --destructive: 358 100% 67%;
    --destructive-foreground: 0 0% 90%;

    --scrollbar: 240 5% 26%;
    --scrollbar-foreground: 240 5% 34%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 3.7% 15.9%;

    --chart-editors: 61.23% 0.2093 6.39;
    --chart-operating-systems: 52.92% 0.1931 262.13;
    --chart-categories: 72.32% 0.15 60.63;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground overflow-x-hidden overflow-y-scroll;
  }

  ::selection {
    @apply shadow-none bg-selection text-black;
  }

  ::-webkit-scrollbar {
    @apply size-4;
  }

  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner {
    @apply hidden;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-clip-padding border-[5px] border-transparent border-solid bg-scrollbar rounded-full hover:bg-scrollbar-foreground;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

@layer utilities {
  .palt {
    font-feature-settings: "palt";
  }

  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute size-8 bg-muted rounded-full font-mono font-semibold text-center text-sm inline-flex items-center justify-center -indent-px border-2 border-background;
    @apply ml-[-48px] mt-[-1px];
    content: counter(step);
  }
}
