---
import BaseSEO from "#/components/seo/base-seo.astro";
import { buttonVariants } from "#/components/ui/button/button.astro";
import BaseLayout from "#/layouts/base-layout.astro";
---

<BaseLayout class="flex flex-col items-start justify-center gap-4">
  <BaseSEO
      title='見つかりませんでした'
      noindex
      slot='seo'
  />
  <h1 class="font-medium">
    ページが見つかりませんでした
  </h1>
  <a href="/" class={buttonVariants({ variant: 'outline' })}>ホームに戻る</a>
</BaseLayout>
