---
import SEO from "#/components/seo/seo.astro";
import Breadcrumb from "#/components/ui/breadcrumb.astro";
import BaseLayout from "#/layouts/base-layout.astro";
---

<BaseLayout>
  <SEO
      title='見つかりませんでした'
      noindex
      slot='seo'
  />
  <Breadcrumb segments={[{ label: "ホーム", href: "/" }]} />
  <h1 class="page-title">
    ページが見つかりませんでした
  </h1>
</BaseLayout>
