---
import BaseSEO from "#/components/seo/base-seo.astro";
import { buttonVariants } from "#/components/ui/button/variants";
import BaseLayout from "#/layouts/base-layout.astro";
---

<BaseLayout class="error-page">
  <BaseSEO
      title='見つかりませんでした'
      noindex
      slot='seo'
  />
  <h1 class="error-title">
    ページが見つかりませんでした
  </h1>
  <a href="/" class={buttonVariants({ variant: 'outline' })}>ホームに戻る</a>
</BaseLayout>

<style>
  .error-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }

  .error-title {
    font-weight: var(--fw-medium);
  }
</style>
