---
import ArrowLeftIcon from "#/components/icons/arrow-left.svg";
import BaseSEO from "#/components/seo/base-seo.astro";
import BaseLayout from "#/layouts/base-layout.astro";
---

<BaseLayout>
  <BaseSEO
      title='見つかりませんでした'
      noindex
      slot='seo'
  />
  <div class="back-link-wrapper">
    <a href="/" class="back-link">
      <ArrowLeftIcon class="back-icon" />
      ホーム
    </a>
  </div>
  <h1 class="page-title">
    ページが見つかりませんでした
  </h1>
</BaseLayout>
