---
import BaseSEO from "#/components/seo/base-seo.astro";
import BaseLayout from "#/layouts/base-layout.astro";
---

<BaseLayout class="error-page">
  <BaseSEO
      title='見つかりませんでした'
      noindex
      slot='seo'
  />
  <h1 class="page-title">
    ページが見つかりませんでした
  </h1>
  <a href="/" class="btn btn--outline">ホームに戻る</a>
</BaseLayout>

<style>
  .error-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }
</style>
