---
import ArrowLeftIcon from "@lucide/astro/icons/arrow-left";
import Budoux from "#/components/budoux.astro";
import SEO from "#/components/seo.astro";
import Comment from "#/features/blog/components/ui/comment.astro";
import BaseLayout from "#/layouts/base-layout.astro";
---

<BaseLayout>
  <SEO
      title='ゲストブック'
      description='訪問してくれた方のメッセージを残せるゲストブックです。お気軽にコメントをどうぞ。'
      slot='seo'
  />
  <div class="mb-4 xl:fixed xl:top-0 xl:translate-y-[138px] xl:-translate-x-[260px]">
    <a href="/" class="inline-flex gap-1 items-center text-muted-foreground text-xs hover:underline">
      <ArrowLeftIcon class="size-3.5" />
      ホーム
    </a>
  </div>
  <h1 class="font-medium">
    ゲストブック
  </h1>
  <Budoux>
    <p class="text-sm text-muted-foreground mt-2">訪問してくれた方がメッセージを残せるゲストブックです。お気軽にコメントをどうぞ。</p>
  </Budoux>
  <section class="mt-8">
    <Comment reactionsEnabled={false} />
  </section>
</BaseLayout>
