---
import ThreadPost from "#/components/thread-post.astro";
import Layout from "#/layouts/layout.astro";
import { getPublishedMemos } from "#/utils/memo";

const memos = await getPublishedMemos();
---

<Layout>
  <div class="feed-container">
    <div class="feed">
      {memos.map(memo => (
        <ThreadPost memo={memo} />
      ))}
    </div>
  </div>
</Layout>

<style>
  .feed-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .feed {}
</style>
