---
import BaseLayout from "#/layouts/base-layout.astro";
---

<BaseLayout>
    <p class="title">test</p>
</BaseLayout>

<style>
    .title {
        font-size: 24px;
        font-weight: bold;
    }
</style>
