---
import Counter from "#/components/counter.astro";
import Layout from "#/layouts/layout.astro";
---

<Layout title="Home" description="Home page">
    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>
    <Counter count={100} />
</Layout>
