---
import MoveRightIcon from "@lucide/astro/icons/move-right";
import Budoux from "#/components/budoux.astro";
import { buttonVariants } from "#/components/ui/button/button.astro";
import BentoGrid from "#/features/home/components/ui/bento/bento-grid.astro";
import BentoItemAboutMe from "#/features/home/components/ui/bento/bento-item-about-me.astro";
import BentoItemMap from "#/features/home/components/ui/bento/bento-item-map.astro";
import BentoItemMastodon from "#/features/home/components/ui/bento/bento-item-mastodon.astro";
import BentoItemSupport from "#/features/home/components/ui/bento/bento-item-support.astro";
import FeaturedEntry from "#/features/home/components/ui/bento/featured-entry.astro";
import BentoItemGithubActivity from "#/features/home/components/ui/bento/github-activity/bento-item-github-activity.astro";
import BentoItemNowPlaying from "#/features/home/components/ui/bento/now-playing/bento-item-now-playing.astro";
import BentoItemTechBlog from "#/features/home/components/ui/bento/tech-blog/bento-item-tech-blog.astro";
import BaseLayout from "#/layouts/base-layout.astro";
import { getCustomTransition } from "#/lib/custom-transition";
import { cn } from "#/lib/ui";
---

<BaseLayout pagefind>
    <h1 class="font-medium" transition:animate={getCustomTransition()}>
        Keisuke Hayashi
    </h1>
    <Budoux>
        <p class="text-sm text-muted-foreground mt-2" transition:animate={getCustomTransition(0.15)}>東京を拠点とするフルスタック開発者。何かを作り、人々に喜びと驚きを与えることが大好きです。</p>
    </Budoux>
        <BentoGrid class="mt-10">
            <BentoItemAboutMe />
            <BentoItemMastodon />
            <BentoItemSupport />
            <BentoItemMap />
            <BentoItemGithubActivity />
            <BentoItemNowPlaying />
            <BentoItemTechBlog />
        </BentoGrid>
    <div class="mt-24">
        <h2 class="font-medium" transition:animate={getCustomTransition()}>
            おすすめの記事
        </h2>
        <FeaturedEntry class="mt-10" />
        <a href="/blog" class={cn('mt-8', buttonVariants({ variant: 'link'}))}>
            すべての記事を見る
            <MoveRightIcon class="size-4" />
        </a>
    </div>
</BaseLayout>
