---
import { getPublishedMemos } from "#/features/memo/utils";
import Layout from "#/layouts/layout.astro";

const memos = await getPublishedMemos();
---

<Layout>
    <p class="title">test</p>
    <ul>
        {memos.map(memo => {
            return <li>{memo.data.createdAt.toISOString()}</li>;
        })}
    </ul>
</Layout>

<style>
    .title {
        font-size: 24px;
        font-weight: bold;
    }
</style>
