@import "@kkhys/ui/index.css";

[data-footnote-ref] {
  @apply ml-0.5 scroll-mt-20 font-mono no-underline focus:bg-yellow-200 focus:text-black;
}

[data-footnote-backref] {
  @apply font-mono;
}

#footnotes > ol > li {
  @apply scroll-mt-20;
}

.grecaptcha-badge {
  @apply invisible;
}
