[data-rmiz] {
  @apply relative;
}

[data-rmiz-ghost] {
  @apply absolute pointer-events-none;
}

[data-rmiz-btn-zoom],
[data-rmiz-btn-unzoom] {
  @apply hidden;
}

[data-rmiz-content="found"] img,
[data-rmiz-content="found"] svg,
[data-rmiz-content="found"] [role="img"],
[data-rmiz-content="found"] [data-zoom] {
  @apply cursor-zoom-in;
}

[data-rmiz-modal]::backdrop {
  @apply hidden;
}

[data-rmiz-modal][open] {
  @apply fixed size-full max-h-none max-w-none m-0 p-0 border-0 bg-transparent overflow-hidden focus:outline-none;
}

[data-rmiz-modal-overlay] {
  @apply absolute inset-0 transition-colors;
}

[data-rmiz-modal-overlay="hidden"] {
  @apply bg-transparent;
}

[data-rmiz-modal-overlay="visible"] {
  @apply bg-background/70 backdrop-blur-[2px];
}

[data-rmiz-modal-content] {
  @apply relative size-full;
}

[data-rmiz-modal-img] {
  @apply absolute cursor-zoom-out rounded-2xl border-[#474747] bg-background shadow dark:border dark:shadow-none;
  image-rendering: high-quality;
  transform-origin: top left;
  transition: transform 0.2s;
}

@media (prefers-reduced-motion: reduce) {
  [data-rmiz-modal-overlay],
  [data-rmiz-modal-img] {
    transition-duration: 0.01ms !important;
  }
}

body.hide-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}
