---
const currentYear = new Date().getFullYear();
---

<footer>
    <span>&copy;{currentYear} Keisuke Hayashi</span>
</footer>

<style>
    footer {
        grid-row: main-end / bottom;
        display: grid;
        justify-content: center;
        padding: 2rem 1rem;
    }
    
    footer span {
        font-size: var(--fs-xs);
        color: var(--c-sub-text);
    }
</style>
