<header>
    <div class="header-title">me</div>
</header>

<style>
    header {
        display: grid;
        grid-row: top / main-start;
        justify-items: center;
        width: 100%;
        padding-block: 1rem;
    }
    
    .header-title {
        font-size: var(--fs-xs);
        font-weight: var(--fw-semibold);
    }
</style>
