---
import type { HTMLAttributes } from "astro/types";
import { categories } from "#/features/blog/config/category";

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...rest } = Astro.props;

const pathname = Astro.url.pathname;
---

<nav class:list={['category-scroll palt', className]} {...rest}>
  {/^\/blog(\/\d+)?\/?$/.test(pathname) ? (
      <span class="cat-link cat-link--active">
      すべて
    </span>
  ) : (
      <a href="/blog" class="cat-link">
        すべて
      </a>
  )}
  {categories.map(({ slug, label }) => (
    pathname?.startsWith(`/blog/categories/${slug}`) ? (
        <span class="cat-link cat-link--active">
      {label}
    </span>
    ) : (
        <a href={`/blog/categories/${slug}`} class="cat-link">
          {label}
        </a>
    )
  ))}
</nav>

<style>
  .category-scroll {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-timeline: --category-scroll inline;
    -ms-overflow-style: none;
    scrollbar-width: none;

    animation: scroll-mask linear both;
    animation-timeline: --category-scroll;
  }

  .category-scroll::-webkit-scrollbar {
    display: none;
  }

  @keyframes scroll-mask {
    0% {
      mask-image: linear-gradient(to right, var(--uchu-yin) calc(100% - 2rem), transparent);
    }
    1%, 99% {
      mask-image: linear-gradient(to right, transparent, var(--uchu-yin) 2rem, var(--uchu-yin) calc(100% - 2rem), transparent);
    }
    100% {
      mask-image: linear-gradient(to right, transparent, var(--uchu-yin) 2rem, var(--uchu-yin) 100%);
    }
  }

  .cat-link {
    display: flex;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    padding-inline: 0.5rem;
    text-align: center;
    font-size: var(--fs-xs);
    transition: color 0.2s;
    white-space: nowrap;
    text-decoration: none;
    color: var(--c-sub);
  }

  .cat-link:hover {
    color: var(--c-primary);
  }

  .cat-link--active {
    background-color: var(--c-primary);
    color: var(--c-primary-text);
    font-weight: var(--fw-medium);
  }

  .cat-link--active:hover {
    color: var(--c-primary-text);
  }
</style>
