---
import type { Page } from "astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"nav"> {
  page: Page<unknown>;
}

const { page, class: className, ...attrs } = Astro.props;
---

<nav aria-label="pagination" class:list={["pagination", className]} {...attrs}>
  {page.url.prev ? (
    <a href={page.url.prev} rel="prev" class="pagination-link">Previous</a>
  ) : (
    <span role="link" aria-disabled="true" class="pagination-link pagination-disabled">Previous</span>
  )}
  {page.url.next ? (
    <a href={page.url.next} rel="next" class="pagination-link">Next</a>
  ) : (
    <span role="link" aria-disabled="true" class="pagination-link pagination-disabled">Next</span>
  )}
</nav>

<style>
  .pagination {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }

  .pagination-link {
    color: var(--color-fg-default);
    text-decoration: none;
    font-size: 0.875rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .pagination-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
</style>
