---
import type { MarkdownHeading } from "astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  headings: MarkdownHeading[];
}

const { headings, class: className } = Astro.props;
---

<div class="toc group">
  <div class="toc-bars">
    {headings.map(({ depth, slug }) => (
        <div data-toc={slug} class:list={['toc-bar', depth === 3 && 'toc-bar--indent']}/>
    ))}
  </div>
  <nav class:list={["toc-panel", className]}>
    <ul class="toc-list">
      {headings.map(({ depth, slug, text }) => (
          <li class:list={['toc-item', depth === 3 && 'toc-item--indent']}>
            <a
                href={`#${slug}`}
                class="toc-link"
            >
              {text}
            </a>
          </li>
      ))}
    </ul>
  </nav>
</div>

<style>
  .toc {
    position: fixed;
    top: 10rem;
    right: 0;
  }

  @media (width < 1024px) {
    .toc {
      display: none;
    }
  }

  .toc-bars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
    width: 3.5rem;
    height: 100%;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 0.5rem;
    overflow-y: hidden;
    transition: opacity 0.2s;
  }

  .toc:hover .toc-bars {
    opacity: 0;
  }

  .toc-bar {
    height: 2px;
    border-radius: 1px;
    background-color: var(--uchu-gray-2);
    transition: background-color 0.2s;
    width: 1rem;
    margin-left: 0;
  }

  @media (prefers-color-scheme: dark) {
    .toc-bar {
      background-color: var(--uchu-yin-8);
    }
  }

  .toc-bar--indent {
    width: 0.75rem;
    margin-left: 0.25rem;
  }

  .toc-bar :global(.active) {
    background: var(--c-surface-text);
  }

  @media (prefers-color-scheme: dark) {
    .toc-bar :global(.active) {
      box-shadow: var(--uchu-gray-3) 0 0 3px;
    }
  }

  .toc-panel {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 1rem;
    border: 1px solid var(--c-border);
    padding: 1.25rem;
    width: 250px;
    max-height: 600px;
    margin-right: 0.625rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    overflow-x: auto;
    opacity: 0;
    transform: translateX(1.5rem);
    transition: all 0.2s ease-in-out;
    background-color: var(--c-bg);
  }

  .toc:hover .toc-panel {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }

  .toc-list {
    font-size: var(--fs-sm);
    color: var(--c-sub);
    list-style: none;
    padding: 0;
  }

  .toc-item {
    margin-block: 0.25rem;
    user-select: none;
    white-space: nowrap;
    padding-left: 0;
  }

  .toc-item--indent {
    padding-left: 1rem;
  }

  .toc-link {
    display: block;
    padding: 0.25rem;
    border-radius: 0.125rem;
    transition: color 0.2s, background-color 0.2s;
    text-decoration: none;
    color: inherit;
  }

  .toc-link:hover {
    color: var(--c-text);
    background-color: var(--c-surface);
  }

  .toc-link:global(.active) {
    color: var(--c-surface-text) !important;
  }
</style>

<script>
  const tocGroup = document.querySelector('.toc');

  if (tocGroup) {
    let originalBodyOverflow: string;

    tocGroup.addEventListener('mouseenter', () => {
      originalBodyOverflow = document.body.style.overflow;
      document.body.style.overflow = 'hidden';
    });

    tocGroup.addEventListener('mouseleave', () => document.body.style.overflow = originalBodyOverflow);
  }
</script>
