---
import "#/styles/global.css";
import SEO from "#/components/seo.astro";
import Footer from "#/components/ui/footer.astro";
import { cn } from "#/lib/ui";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<html lang="ja" class="bg-background text-foreground antialiased">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="icon" href="/favicon.ico" sizes="32x32">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <meta name="generator" content={Astro.generator}/>
  <link rel='sitemap' href='/sitemap-index.xml' />

  <slot name='head' />
  <slot name='seo'>
    {/* @ts-expect-error: this is expected since it's inside BaseLayout */}
    <SEO />
  </slot>

  {import.meta.env.PROD && (
    <script
      is:inline
      type='text/partytown'
      src='https://analytics.kkhys.me/script.js'
      data-website-id='0e7df23c-24a9-4db7-9bed-a064aa9ac48e'/>
  )}


</head>
<body class="flex flex-col w-full max-w-6xl min-h-screen min-w-full mx-auto">
<main class='flex-1 w-full max-w-2xl mx-auto'>
  <div class={cn('container pt-20 pb-12', className)}>
    <slot/>
  </div>
</main>
<Footer />
</body>
</html>
