---
import "#/styles/global.css";
import { ClientRouter } from "astro:transitions";
import Footer from "#/components/footer.astro";
import SEO from "#/components/seo.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

interface Props {
  pagefind?: boolean;
  class?: string;
}

const { pagefind, class: className } = Astro.props;
---

<html lang="ja" class="bg-background text-foreground palt antialiased" data-pagefind-body={pagefind ? "" : null}>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content={Astro.generator}/>

    <link rel="canonical" href={canonicalURL} />

    <slot name='head' />
    <slot name='seo'>
        {/* @ts-expect-error: this is expected since it's inside BaseLayout */}
        <SEO />
    </slot>

    <script is:inline>
        const init = () => animate();

        const animate = () => {
            const animateElements = document.querySelectorAll(".animate");
            animateElements.forEach((element, index) =>
                setTimeout(() => element.classList.add("animate-show"), index * 150));
        }

        document.addEventListener("DOMContentLoaded", () => init());
    </script>
    <ClientRouter fallback='swap' />
</head>
<body class="flex flex-col w-full max-w-6xl min-h-screen mx-auto">
<main class:list={['flex-1 w-full max-w-2xl mx-auto', className]}>
    <div class="container py-12">
        <slot/>
    </div>
</main>
<Footer />
</body>
</html>
