---
import "#/styles/global.css";
import BaseSEO from "#/components/seo/base-seo.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<html lang="ja">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="icon" href="/favicon.ico" sizes="32x32">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel='sitemap' href='/sitemap-index.xml' />

  <slot name='head' />
  <slot name='seo'>
    <BaseSEO />
  </slot>

  <noscript>
    <style>
      .blur-load { filter: none !important; background: none !important; }
      .tweet-photo-blur { filter: none !important; background: none !important; }
      lite-youtube { cursor: default !important; }
    </style>
  </noscript>

  {import.meta.env.PROD && (
    <script
      is:inline
      type='text/partytown'
      src='https://analytics.kkhys.me/script.js'
      data-website-id='0e7df23c-24a9-4db7-9bed-a064aa9ac48e'/>
  )}


</head>
<body>
<main>
  <div class:list={["content", className]}>
    <slot/>
  </div>
</main>
</body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 72rem;
    min-height: 100vh;
    min-width: 100%;
    margin-inline: auto;
  }

  main {
    flex: 1;
    width: 100%;
    max-width: 42rem;
    margin-inline: auto;
  }

  .content {
    padding-block: 5rem 3rem;
    padding-inline: 1rem;
  }

  @media (width >= 640px) {
    .content {
      padding-inline: 0;
    }
  }

  @media (width >= 768px) {
    .content {
      padding-top: 7rem;
    }
  }
</style>
