---
import Footer from "#/components/footer.astro";
import Header from "#/components/header.astro";
import "#/styles/global.css";

interface Props {
  title: string;
  noindex?: boolean;
}

const { title, noindex = false } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <link rel="canonical" href={canonicalURL} />
        <meta name="generator" content={Astro.generator} />
        {noindex && <meta name="robots" content="noindex, nofollow" />}
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
