---
import "#/styles/global.css";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <meta name="description" content={description}/>
</head>
<body>
<slot/>
</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
