name: CI

on:
  pull_request:
    branches: [ "*" ]
  push:
    branches: [ "main" ]
  merge_group:

env:
  FORCE_COLOR: 3
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest

      - name: Run Biome
        run: biome ci .

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Turbo
        run: bun add -g turbo

      - name: Install bun dependencies
        run: bun i

      - name: Install Playwright Browser
        run: bunx playwright install --with-deps chromium

      - name: Build
        run: bun run build
        env:
          RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
          UPSTASH_REDIS_REST_URL: ${{ secrets.UPSTASH_REDIS_REST_URL }}
          UPSTASH_REDIS_REST_TOKEN: ${{ secrets.UPSTASH_REDIS_REST_TOKEN }}
          NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${{ secrets.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          TURBO_TELEMETRY_DISABLED: 1
          NEXT_TELEMETRY_DISABLED: 1

      - name: Typecheck
        run: bun typecheck
