# TODO: バージョン 1 をリリースする際にコメントアウトする

#name: Release
#on:
#  push:
#    branches:
#      - main
#jobs:
#  release:
#    name: Release
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#        with:
#          fetch-depth: 0
#      - name: Setup Node.js
#        uses: actions/setup-node@v3
#        with:
#          node-version: 'lts/*'
#      - name: Install dependencies
#        run: pnpm i --frozen-lockfile
#      - name: Release
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        run: pnpm semantic-release
