---
import type { HTMLAttributes } from "astro/types";
import { emojiSvg } from "#/components/emoji-svg";

interface Props extends HTMLAttributes<"span"> {
  emoji: string;
  isColored?: boolean;
  size?: "default" | "sm";
}

const {
  emoji,
  isColored = false,
  size = "default",
  class: className,
} = Astro.props;

const rowEmojiSvg = await emojiSvg({ emoji, isColored });
---

<span class:list={["eye-catch", size === "sm" && "eye-catch--sm", className]}>
  <Fragment set:html={rowEmojiSvg} />
</span>

<style>
  .eye-catch {
    display: inline-flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-md);
    background-color: var(--c-surface);
    color: var(--c-surface-text);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    width: 2.5rem;
    height: 2.5rem;
  }

  .eye-catch--sm {
    width: 2rem;
    height: 2rem;
  }

  .eye-catch :global(svg > g > path) {
    fill: var(--c-text);
  }

  .eye-catch :global(svg) {
    width: 1.25rem;
    height: 1.25rem;
  }

  .eye-catch--sm :global(svg) {
    width: 1rem;
    height: 1rem;
  }
</style>
