---
const footerLinks = [
  { href: "/legal/privacy-policy", title: "プライバシーポリシー" },
];
---

<footer class="container flex flex-col items-center justify-between gap-4 max-w-6xl mx-auto text-xs text-muted-foreground py-6 mt-28 md:px-8 md:py-0 md:h-24 md:flex-row">
    <nav class="flex divide-x">
      {footerLinks.map(({ href, title }) => (
          <a
              href={href}
              class="px-2 hover:text-foreground"
          >
            {title}
          </a>
      ))}
    </nav>
    <p>&copy; 2025 Keisuke Hayashi</p>
</footer>
