---
import type { HTMLAttributes } from "astro/types";
import { cn } from "#/lib/ui";

interface Props extends HTMLAttributes<"div"> {}

const { class: className } = Astro.props;
---

<div class={cn('rounded-full border-[.75px] px-2.5 w-fit h-6 flex items-center text-xs font-medium shadow-[inset_0px_-2.10843px_0px_0px_var(--uchu-gray-1),_0px_1.20482px_6.3253px_0px_var(--uchu-gray-1)] text-[var(--uchu-yin-9)] bg-[var(--uchu-yang)] z-20', className)}>
  <slot />
</div>
